@{
    ViewBag.Title = Resources.ResetPwConfirmation;
}
@using Forum.Content.Localization
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
         @Resources.PwReset <br />@Html.ActionLink(Resources.ClickHere, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
