body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 80%;
}

.forum-heading{
    background-color: #2b2b2b;
    color: white;
}

.category-heading{
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
}

.panel-category{
    margin-top: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-index:first-child{
    margin-top: 225px;
}

.panel-category > .category-heading {
    color: #ffffff;
    background-color: #286da8;
    border-color: #286da8;
}

.carousel-inverse{
    color: #000000;
}

.carousel-indicators li {
    border-color: #808080;
}

.carousel-indicators .active {
    background: #808080;
}

.carousel-announcement{
    border-bottom: 1px solid #808080;
}

.full-width{
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

.table tbody a{ 
    font-weight: bold;
    text-decoration: none!important;
}

.navigation-row{
    margin: 10px 0px;
}

.post-user > .panel-body{
    text-align: center;
}

.post-row{
    display: table;
}

.post-user{
    float: none;
    display: table-cell;
}

.post{
    float: none;
    display: table-cell;
}

.description{
    font-weight: normal;
}